* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  height: 100%;
}
.PageHeaderWarp {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  .PageHeader {
    display: flex;
    align-items: center;
    img {
      width: 100px;
      height: 40px;
    }
    .HeaderNav {
      padding-left: 200px;
      display: flex;
      > div {
        height: 40px;
        line-height: 40px;
        padding: 0px 30px;
        font-size: 16px;
        a {
          color: #000;
          font-weight: 800;
          display: block;
        }
      }
      > div :hover {
        border-bottom: solid 5px blue;
        box-sizing: border-box;
      }
    }
  }
}
.Index {
  width: 100%;
  .Index_Title {
    color: #fff;
    font-size: 45px;
    line-height: 70px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 340px;
    margin-left: -180px;
  }
}
